[access]
	inheritFrom = All-Projects
[project]
	description = POJO project. Holds POMBA common  model POJO representation\n\nSet to read-only as per IT-20030\nOn June 9th, 2020 - the ONAP TSC approved the Logging Project Path Forward Proposal (v6)
	state = read only
[access "refs/*"]
	owner = group ldap/onap-gerrit-logging-analytics-pomba-pomba-audit-common-committers
	owner = group saml/onap-gerrit-logging-analytics-pomba-pomba-audit-common-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
